@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

/* body{
    margin: 0;
    padding: 0;
    width: 100%;

} */
=======
@tailwind utilities;
>>>>>>> 419e851414907003ee8c1035a6e0151df8e9ecf4
